* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.hideItem {
    display: none;
}
header {
    border-bottom: 0.5rem solid black;
    font-size: 16px;
}
.header__block-transititon {
    height: 100%;
    width: 100%;
    background-color: black;
    z-index: 2;
    position: absolute;
    top: 0;
}
.header__block {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 100%;
    position: relative;
    top: 30px;
}
.header__block ul {
    align-items: center;
    display: flex;
    justify-content: space-around;
    padding: 0 40px 0 0;
    width: 100%;
}
.header__block ul li {
    list-style: none;
    padding-right: 5px;
    color: gray;
}
.header__block ul span {
    color: black;
    font-size: 60px;
    font-weight: bold;
    position: relative;
    left: 10px;
}
.geoIcon {
    height: 100px;
    width: 100px;
}

